@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <button value="Start a new Race" class="btn btn-success "></button>
 
</div>

<div class="row">
  <div class="col-md-12">
  
    <table class="table-bordered table-condensed"  >
      <thead>
        <tr>
          Car Name
        </tr>
        <tr>
          Car KM
        </tr>
      </thead>
      <tbody id="RaceDetails" >

      </tbody>

    </table>



  </div>
</div>